@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  color: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.50); 
  z-index: 1;
}


.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
}

.intro-content {
  margin: auto;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.navbar {
  padding-top: 28px;
}

.navbar-brand {
  margin: 0 auto;
}

.intro-title {
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center;
}

.intro-subtitle {
  text-align: center;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  margin-top: 23px;
  margin-bottom: 35px;
}

.intro-bottom {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  z-index: 2;
}



.gallery-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 480px;
  margin: 0 auto;
  background-size: cover;
}

.gallery-youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 925px;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}

.youtube-logo {
  z-index: 2;
}



.gallery-title {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  z-index: 2;
}

.gallery-subtitle {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 5.12px;
  text-transform: uppercase;
  z-index: 2;
}

.gallery-subtitle-main {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  z-index: 2;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin-top: 70px;
  z-index: 2;
}

.social-media-logo {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 46.5px;
  z-index: 2;
  cursor: pointer;
}

.footer-description {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-bottom: 160px;
  z-index: 2;
}

.btn-intro {
  border: 1px solid #fff;  
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  color: #fff;
  width: 338px;
  height: 70px;
  border-radius: 0;
}

.project-container {
  background: #fff;
  width: 100%;
  z-index: 2;
  position: relative;
  padding: 35px 21px 35px 29px;
  color: #000;
}

.project-title h1 {
  color: #000;
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 30px;
}

.line {
  background: #d9bc9f;
  width: 198px;
  height: 10px;
}


.stat-item {
  display: flex;
  flex-direction: column;
}

.col-auto {
  padding-right: 0;
}

.col.stat {
  padding-left: 5px;
}

.stat-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  letter-spacing: -2.5px;
}

.stat-subtitle {
  color: #000;  
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-weight: 800;;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.stat-subtitle-addition {
  color: #DBB688;
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: lowercase;
}

.btn-gallery {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  width: 258px;
  height: 58px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  z-index: 2;
  margin-top: 20px;
}

.gallery-description-list {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  z-index: 2;
}

.gallery-ref-title {
  text-align: left;
  color: #DBB688;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  z-index: 2;
}

.gallery-ref-subtitle-main {
  text-align: left;
  z-index: 2;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.44px;
  z-index: 2;
}
.gallery-ref-container {
  display: flex;
  flex-direction: column;
  height: 480px;
  margin: 0 auto;
  background-size: cover;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.gallery-ref-container .container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding:  0 120px;
}

.container-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.btn-gallery-ref {
  border: 1px solid #FFF;
  color: #fff;
  width: 240px;
  height: 64.215px;
  border-radius: 0;
  font-family: "Manrope", sans-serif;
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.arrow {
  margin-left: auto;
}