@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  color: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.50); 
  z-index: 1;
}


.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center center;
}

.intro-content {
  margin: auto;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.navbar {
  padding-top: 28px;
}

.navbar-brand {
  margin: 0 auto;
}

.intro-title {
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center;
}

.intro-logo {
  display: none;
  margin-bottom: 30px;
}

.intro-subtitle {
  text-align: center;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  margin-top: 23px;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .intro-subtitle {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
}


.intro-bottom {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  z-index: 2;
}



.gallery-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 480px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
}

.gallery-youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 925px;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}

.youtube-logo {
  z-index: 2;
}



.gallery-title {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  z-index: 2;
}

.gallery-subtitle {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 5.12px;
  text-transform: uppercase;
  z-index: 2;
  width: 70%;
  margin-top: 12px;
}

.gallery-subtitle-main {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  z-index: 2;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
}

.footer-logo {
  margin-top: 70px;
  z-index: 2;
}

.social-media-logo {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 46.5px;
  z-index: 2;
  cursor: pointer;
}

.footer-description {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-bottom: 160px;
  z-index: 2;
}

.btn-intro {
  border: 1px solid #fff;  
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  color: #fff;
  width: 338px;
  height: 70px;
  border-radius: 0;
}

.project-container {
  background: #fff;
  width: 100%;
  z-index: 2;
  position: relative;
  padding: 35px 21px 35px 29px;
  color: #000;
}

.project-title h1 {
  color: #000;
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 30px;
}

.line {
  background: #d9bc9f;
  width: 129px;
  height: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
}


.stat-item {
  display: flex;
  flex-direction: column;
}

.col-auto {
  padding-right: 0;
}

.col.stat {
  padding-left: 5px;
}

.stat-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  letter-spacing: -2.5px;
}

.stat-subtitle {
  color: #000;  
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-weight: 800;;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.stat-subtitle-addition {
  color: #DBB688;
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: lowercase;
}

.btn-gallery {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  width: 258px;
  height: 58px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  z-index: 2;
  margin-top: 20px;
}

.gallery-description-list {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  z-index: 2;
}

.gallery-ref-title {
  text-align: left;
  color: #DBB688;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  z-index: 2;
}

.gallery-ref-subtitle-main {
  text-align: left;
  z-index: 2;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.44px;
  z-index: 2;
}
.gallery-ref-container {
  display: flex;
  flex-direction: column;
  height: 480px;
  margin: 0 auto;
  background-size: cover;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.gallery-ref-container .container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding:  0 120px;
}

.container-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.btn-gallery-ref {
  border: 1px solid #FFF;
  color: #fff;
  width: 240px;
  height: 64.215px;
  border-radius: 0;
  font-family: "Manrope", sans-serif;
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.arrow {
  margin-left: auto;
}


.plan-uchastka {
  margin-left: auto;
  margin-top: -85px;
  padding-right: 0;
  padding-left: 0;
}

.project-info {
  margin-right: auto;
}

.btn-project {
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 0;
  padding: 15px 20px;
  margin-top: 15px;
}

.btn-project.big {
  padding: 15px 50px;
}

.project-description {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.8px;
}

.project-description a{
  color: #000;
}

.project-plan {
  margin-bottom: 95px;
}

.project-plan .project-title-small {
  margin-top: 60px;
}


.project-title-small h1{
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
}

.a-link {
  color: #9FA1A7 !important;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.8px;
  text-decoration-line: underline;
}

.location2-img {
  padding-right: 0;
}

.location1-img {
  padding-left: 0;
}

.project-title-small h1 {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 108.597%;
  text-transform: uppercase;
}

.project-title-small .h1-color {
  color: #D9BC9F !important; 
}

.project-title-small .h1-phone-number {
  font-weight: 500 !important;
}

.project-question-item {
  display: flex;
  flex-direction: row;
}

.project-question-item p {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 16px;
}

.mobile-number {
  color: #DFD5CC;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.project-question-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-question-list p {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 20px;
}

.project-img {
  margin-top: -70px;
}


.project-location {
  margin-top: 100px;
  margin-bottom: 90px;
}

.project-location-img-container {
  margin-top: -75px;
}

.project-carousel {
  justify-content: center;
}

/* Set the size of the images */
.carousel-item img {
  width: 100%; /* Adjust the size as needed */
  height: auto;
}

/* Make carousel indicators circular */
.carousel-indicators {
  justify-content: center;
}

.carousel-indicators li {
  background-color: #777; /* Default color */
  border-radius: 50%; /* Make it circular */
  width: 12px;
  height: 12px;
  margin: 0 4px; /* Adjust the spacing as needed */
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #fff; /* Active color */
}

.burger-menu {
  background-color: transparent;
  border: none;
}

body.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050; /* Make sure this is higher than the modal's z-index */
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  pointer-events: none; /* Allow interaction with elements behind the overlay */
}

body.modal-open {
  overflow: hidden;
}


.footer-mobile {
  display: none;
}

@media (max-width: 767px) {
  .intro-title {
    font-size: 16px;
    letter-spacing: 0.8px;
  }

  .navbar-brand {
    display: none;
  }

  .intro-logo {
    display: block;
  }

  .intro-bottom {
    margin-bottom: 245px;
  }

  .gallery-img-container {
    height: 800px;
  }

  .gallery-title {
    font-size: 14px;
    letter-spacing: 1.26px;
  }

  .gallery-subtitle {
    font-size: 16px;
    letter-spacing: 2.56px;
  }

  .footer {
    display: none;
  }

  .footer-mobile {
    display: block;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: static;
    padding: 40px 20px;
  }

  .footer-mobile .footer-logo {
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .footer-menu {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .footer-menu-item {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 23px;  
  }

  .footer-description-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .footer-description-item {
    color: #D9BC9F;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
  }

  .social-media-logo {
    margin: 0;
  }

  .scroll-to-top-button {
    position: absolute;
    bottom: 50px;
    z-index: 2;
    right: 10px;
    border: none;
  }
}