@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  color: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.50); 
  z-index: 1;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; 
  z-index: 1000; 
}

.preloader__spinner {
  text-align: center;
}

.preloader__image {
  width: 100px;
  height: 100px;
}

#meralit-logo path {
  stroke-dasharray: 1000; 
  stroke-dashoffset: 1000; 
  animation: draw 3s ease-in-out forwards;
}

.logo-path {
  fill: white;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#content {
  display: none;
}

#loader.active + #content {
  display: block;
}




.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center center;
}

.intro-content {
  margin: auto;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  z-index: 1000;
}

.navbar {
  padding-top: 28px;
}

.navbar-brand {
  margin: 0 auto;
}

.intro-title {
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center;
}

.intro-logo {
  display: none;
  margin-bottom: 30px;
}

.intro-subtitle {
  text-align: center;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  margin-top: 23px;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .intro-subtitle {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
}

.bottom-arrow {
  margin-bottom: -150px;
  z-index: 1000;
  position: relative;
  cursor: pointer;
}

.phone-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.phone-bottom p {
  padding-top: 20px;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}



.intro-bottom {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  z-index: 2;
  margin: 0 auto;
  padding: 10px;
  background: transparent;
}

.left-bottom-icons {
  gap: 20px;
}





.gallery-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 480px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
}

.gallery-youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 925px;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}

.youtube-logo {
  z-index: 2;
}



.gallery-title {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  z-index: 2;
}

.gallery-subtitle {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 5.12px;
  text-transform: uppercase;
  z-index: 2;
  width: 70%;
  margin-top: 12px;
}

.gallery-subtitle-main {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  z-index: 2;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  padding: 80px;
  z-index: 2;
}

.footer-logo {
  z-index: 2;
}

.social-media-logo {
  display: flex;
  flex-direction: row;
  gap: 46.5px;
  z-index: 2;
  cursor: pointer;
  margin-top: 45px;
  margin-bottom: 35px;
}

.footer-description {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  z-index: 2;
}

.scroll-to-top-button {
  position: relative;
  z-index: 1000;
  border: none;
  margin-top: 20px;
}


.btn-intro {
  border: 1px solid #fff;  
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  color: #fff;
  width: 338px;
  height: 70px;
  border-radius: 0;
}

.project-container {
  background: #fff;
  width: 100%;
  z-index: 2;
  position: relative;
  padding: 35px 21px 35px 29px;
  color: #000;
}

.project-title h1 {
  color: #000;
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 30px;
}

.line {
  background: #d9bc9f;
  width: 129px;
  height: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
}


.stat-item {
  display: flex;
  flex-direction: column;
}

.col-auto {
  padding-right: 0;
}

.col.stat {
  padding-left: 5px;
}

.stat-title {
  color: #000;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  letter-spacing: -2.5px;
}

.stat-subtitle {
  color: #000;  
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-weight: 800;;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.stat-subtitle-addition {
  color: #DBB688;
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: lowercase;
}

.btn-gallery {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.4px;
  width: 258px;
  height: 58px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  z-index: 2;
  margin-top: 20px;
}

.gallery-description-list {
  color: #FFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  z-index: 2;
}

.gallery-ref-title {
  text-align: left;
  color: #DBB688;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  z-index: 2;
}

.gallery-ref-subtitle-main {
  text-align: left;
  z-index: 2;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.44px;
  z-index: 2;
}
.gallery-ref-container {
  display: flex;
  flex-direction: column;
  height: 480px;
  margin: 0 auto;
  background-size: cover;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.gallery-ref-container .container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding:  0 120px;
}

.gallery-ref-container.mobile {
  display: none;
}

.container-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.btn-gallery-ref {
  border: 1px solid #FFF;
  color: #fff;
  width: 240px;
  height: 64.215px;
  border-radius: 0;
  font-family: "Manrope", sans-serif;
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.arrow {
  margin-left: auto;
}


.plan-uchastka {
  margin-left: auto;
  margin-top: -85px;
  padding-right: 0;
  padding-left: 0;
}

.project-info {
  margin-right: auto;
}

.btn-project {
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 0;
  padding: 15px 20px;
  margin-top: 15px;
}

.btn-project.big {
  padding: 15px 50px;
}

.project-description {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.8px;
}

.project-description a{
  color: #000;
}

.project-plan {
  margin-bottom: 95px;
}

.project-plan .project-title-small {
  margin-top: 60px;
}


.project-title-small h1{
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
}

.a-link {
  color: #9FA1A7 !important;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.8px;
  text-decoration-line: underline;
}

.location2-img {
  padding-right: 0;
}

.location1-img {
  padding-left: 0;
}

.project-title-small h1 {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 108.597%;
  text-transform: uppercase;
}

.project-title-small .h1-color {
  color: #D9BC9F !important; 
}

.project-title-small .h1-phone-number {
  font-weight: 500 !important;
}

.project-question-item {
  display: flex;
  flex-direction: row;
}

.project-question-item p {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 16px;
}

.mobile-number {
  color: #DFD5CC;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.mob-num-line {
  margin-top: -40px;
}


.project-question-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-question-list p {
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 20px;
}

.project-img {
  margin-top: -70px;
}


.project-location {
  margin-top: 100px;
  margin-bottom: 90px;
}

.project-location-img-container {
  margin-top: -75px;
}

.swiper {
  margin-top: 45px;
}

.sample-slider{
  width: 100%;
  margin-top: 70px;
}

.swiper-wrapper {
  margin-bottom: 50px;
}

.sample-slider img{
  width: 100%;
}

.swiper-pagination {
  position: static;
  bottom: -40px!important;
  color: #000000;
}

.sample-slider [class^="swiper-button-"]::after{
  content: "";
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color,var(--swiper-theme-color))
}



.mySwiper {
  display: none;
}

/* Set the size of the images */
.carousel-item img {
  width: 100%; /* Adjust the size as needed */
  height: auto;
}

/* Make carousel indicators circular */
.carousel-indicators {
  justify-content: center;
}

.carousel-indicators li {
  background-color: #777; /* Default color */
  border-radius: 50%; /* Make it circular */
  width: 12px;
  height: 12px;
  margin: 0 4px; /* Adjust the spacing as needed */
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #fff; /* Active color */
}

.burger-menu {
  background-color: transparent;
  border: none;
}

.faq-button {
  background-color: transparent;
  border: none;
}

.close {
  background-color: transparent;
  border: none;
}

body.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050; 
  backdrop-filter: blur(5px);
  pointer-events: none;
}

body.modal-open {
  overflow: hidden;
}


.footer-mobile {
  display: none;
}

.mySwiper .gallery-img-container {
  height: 360px !important;
}

#overlay.modal {
  transition: transform 0.5s ease-out;
  transform: translateX(100%);
}

#overlay.modal a:hover {
  color: #fff;
}

#overlay.modal.show {
  transform: translateX(0);
}

#overlay.modal .navbar {
  transition: transform 0.5s ease-out;
  transform: translateX(100%);
}

#overlay.modal.show .navbar {
  transform: translateX(0);
}

.modal .container-fluid {
  padding: 15px 40px 40px 50px;
}

.left-menu-container {
  display: flex;
  flex-direction: column;
}

.menu-link {
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-link-small {
  color: #D9BC9F;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
}


.vertical-line {
  width: 5px;
  height: 601px;
  flex-shrink: 0;
  background: #D9BC9F;
  margin: 0 15px;
}

.right-menu-container {
  display: flex;
  flex-direction: row;
}

.right-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-menu-link {
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.mobile-menu {
  display: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.bottom-arrow {
  animation: bounce 2s infinite;
}

.footer-btn-top {
  animation: bounce 2s infinite;
}


.modal-slide-from-left .modal-dialog {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.modal-slide-from-left.show .modal-dialog {
  transform: translateX(0);
}


#exampleModal .modal-content {
  background-color: #000;
  color: #fff;
}

#exampleModal .modal-header,
#exampleModal .modal-body,
#exampleModal .modal-footer {
  border: none;
}


#exampleModal .modal-header {
  text-align: center;
  display: block;
  padding-bottom: 0;
}

#exampleModal .modal-title {
  margin: 0 auto;
  font-size: 42px;
}

#exampleModal .form-control {
  border-radius: 5px;
  background: transparent;
  height: 60px;
  border: 1px solid #c9c9c9;
  color: #fff;
}

#exampleModal .form-check-input { 
  background-color: transparent;
  border: 1px solid #c9c9c9
}
#exampleModal .form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

#exampleModal .ref-button {
  width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 0;
  font-weight: 400;
  font-size: 24px;
}

#exampleModal .ref-description {
  font-size: 14px;
  color: rgb(112, 112, 112);
}

#exampleModal .btn-close {
  right: 25px;
  top: 10px;
  position: absolute;
}



.intro-bottom > * {
  animation: fadeInLeft 1s ease-out;
}

.bottom-arrow {
  animation: bounce 2s infinite;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro-bottom {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 20px;
}

.intro-bottom > * {
  animation: fadeInLeft 1s ease-out;
}

.bottom-arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media (max-width: 767px) {
  .intro-title {
    font-size: 16px;
    letter-spacing: 0.8px;
  }

  .intro-content {
    width: 90%;
  }

  .navbar-brand {
    display: none;
  }

  .intro-logo {
    display: block;
  }

  .gallery-img-container {
    height: 800px !important;
    background-size: cover;
  }

  .gallery-title {
    font-size: 14px;
    letter-spacing: 1.26px;
  }

  .gallery-subtitle {
    font-size: 16px;
    letter-spacing: 2.56px;
  }

  .footer {
    display: none;
  }

  .footer-mobile {
    display: block;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: static;
    padding: 40px 20px;
    z-index: 2;
  }

  .footer-mobile .footer-logo {
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px;
    z-index: 2;
  }

  .footer-menu {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    z-index: 2;
  }

  .footer-menu-item {
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 2;
  }

  .footer-description-list {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .footer-description-item {
    color: #D9BC9F;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    z-index: 2;
  }

  .social-media-logo {
    margin-top: -45px;
    margin-bottom: 0;
  }

  .scroll-to-top-button {
    position: relative;
    margin-left: auto;
    bottom: 50px;
    z-index: 1000;
    right: 10px;
    border: none;
  }

  .btn-intro {
    width: 210px;
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.4px;
    height: 50px;  
  }

  .project-container {
    padding: 35px 10px;
  }

  .project-title h1{
    color: #000;
    font-size: 24px;
    font-weight: 800;
  }

  .line {
    width: 80px;
  }

  .stat-title {
    font-size: 40px;
  }

  .gallery-ref-container .container {
    width: 100%;
    padding: 90px 20px;
  }

  .gallery-ref-container.mobile {
    display: block;
    z-index: 2;
    position: relative;
  }

  .project-title-small h1 {
    font-size: 24px;
    font-weight: 800;
  }

  .plan-uchastka {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .project-description {
    font-size: 16px;
    letter-spacing: 1.26px;
  }

  .btn-project {
    width: 229px;
    height: 56.345px;
  }

  .plan-mob-ul {
    margin-top: -15px;
  }

  .project-infrastructure {
    display: none;
  }

  .project-infrastructure-mobile {
    display: block !important ;
  }

  .project-infrastructure-mobile .project-description {
    margin-top: 35px;
  }

  .project-location .row {
    flex-direction: column;
  }

  .project-location .col-md-5 {
    order: 2;
  }

  .project-location .col-md-7 {
    order: 1;
  }

  .location2-img {
    display: none;
  }

  .location1-img {
    margin-top: 90px;
  }

  .project-location .project-description {
    margin-top: 35px;
  }
  
  .project-question .project-title-small h1 {
    line-height: 146.162%;
  }

  .project-question-item p {
    letter-spacing: 0.8px;
  }

  .project-question .project-img {
    margin-top: 20px;
  }

  .image-gallery {
    display: none;
  }

  .gallery-ref-subtitle-main {
    padding-bottom: 20px;
  }

  .mySwiper {
    display: block;
  }

  .gallery-img-container.swiper {
    width: 360px;
    height: 286px;
    object-fit: cover;
  }

  .swiper-button {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .btn-slider {
    display: block !important;
    width: 90%;
    border: 1px solid #000;
    height: 70px;
    text-align: center;
    border-radius: 0;
    color: #000;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2.4px;
    }
 
    .intro-bottom {
      justify-content: center !important;
      align-items: center !important;
      gap: 48px !important;
    }

    .left-bottom-icons {
      gap: 48px;
    }

    .phone-bottom p {
      display: none;
    }

    .vertical-line {
      display: none;
    }

    .desktop-menu {
      display: none;
    }

    .mobile-menu {
      display: flex !important;
      flex-direction: column;
    }

    .menu-link {
      font-size: 24px;
      letter-spacing: 1.2px;
    }

    .menu-link-small {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .modal .container-fluid {
      padding: 15px 20px 20px 20px;
    }

    .modal-bottom {
      margin-top: 70px;
    }

    .faq-button-icon {
      width: 30px;
      height: 30px;
    }

    .burger-menu-icon {
      width: 30px;
      height: 30px;
    }

    #overlay.modal {
      overflow: hidden;
    }
  }
